.contact-container {
  display: flex;
  flex-direction: column;
}

.contact__item {
  @include center;
  flex-direction: column;
  margin-bottom: 30px;
  position: relative;
  transition: all .3s ease;
}

.contact__item:after {
  border-bottom: 2px solid;
  bottom: 0;
  content: "";
  left: 50%;
  opacity: 0;
  position: absolute;
  transition: all .3s ease;
  width: 0;
}

.contact__item:hover:after {
  left: 0;
  opacity: 1;
  width: 100%;
}

.contact__image {
  height: 100px;
}

.contact__paragraph {
  font-family: 'Roboto', cursive;
  font-size: $font-size-normal;
}

.contact__paragraph--margin {
  margin-top: 23px;
}
