.middle-line {
  background: black;
  height: 50vh;
  left: 50vw;
  position: absolute;
  width: 1px;
  z-index: 4;
}

.middle-line--top {
  animation: 1s ease-out 0s 1 slideMiddleLineToTheBottom forwards, 0s ease-out 1s 1 hideElementByOpacity forwards;
  top: -50vh;
}

.middle-line--bottom {
  animation: 1s ease-out 0s 1 slideMiddleLineToTheTop forwards, 0s ease-out 1s 1 hideElementByOpacity forwards;
  top: 100vh;
}
