.page-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100vw;
}

.page-container--sunshine {
  @include center;
  background: $sunshine;
  color: $steel-blue;
}

.page-container--bone {
  @include center;
  background: $white;
  color: $black;
}

.page-link--back {
  position: absolute;
  left: 20px;
  top: 20px;
}

.page-link--back svg {
  width: 30px;
}

.page-link--steel-blue {
  fill: $steel-blue;
}

.page-link--coal {
  fill: $black;
}
