// svg projects tail

.svg__scriber {
  animation: 2s 4s draw-scriber forwards;
  stroke-dashoffset: -20;
  stroke-dasharray: 20, 20;
}

.svg__dash {
  animation: 3s 4s draw-dash forwards;
  stroke-dashoffset: -234;
  stroke-dasharray: 234, 234;
}

.svg__ruler-bottom {
  animation: 4s 4s draw-ruler-bottom forwards;
  stroke-dashoffset: -297;
  stroke-dasharray: 297, 297;
}

.svg__ruler-top {
  animation: 4s 4s draw-ruler-top forwards;
  stroke-dashoffset: -302;
  stroke-dasharray: 302, 302;
}

.svg__ruler-subdivision {
  animation: 4s 4s draw-ruler-subdivision forwards;
  stroke-dashoffset: -21;
  stroke-dasharray: 21, 21;
}

.svg__pencil-contour {
  animation: 3s 4s draw-pencil-contours forwards;
  stroke-dashoffset: -685;
  stroke-dasharray: 685, 685;
}

.svg__elastic {
  animation: 3s 4s draw-elastic forwards;
  stroke-dashoffset: -185;
  stroke-dasharray: 185, 185;
}

.svg__pencil-middle {
  animation: 3s 4s draw-pencil-middle forwards;
  stroke-dashoffset: -225;
  stroke-dasharray: 225, 225;
}

.svg__pencil-connector {
  animation: 2s 4s draw-pencil-connector forwards;
  stroke-dashoffset: -52;
  stroke-dasharray: 52, 52;
}
