svg {
  height: 90%;
  width: 100%;
}

// svg projects tail

.tail--router .svg__circle {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 415;
  stroke-dasharray: 415;
}

.tail--router .svg__leg-top {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 172;
  stroke-dasharray: 172;
}

.tail--router .svg__pencil-contour {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 732;
  stroke-dasharray: 732;
}

.tail--router .svg__leg-bottom {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 680;
  stroke-dasharray: 680;
}

.tail--router .svg__scriber {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 38;
  stroke-dasharray: 38;
}

.tail--router .svg__pencil-verticle {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 88;
  stroke-dasharray: 88;
}

.tail--router .svg__pencil-horizontal {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 272;
  stroke-dasharray: 272;
}

.tail--router .svg__screw {
  animation: draw-svg 3s 4s ease-out forwards;
  stroke-dashoffset: 88;
  stroke-dasharray: 88;
}

.tail--router .svg__dash-first {
   animation: draw-svg 3s 4s ease-out forwards;
   stroke-dashoffset: 20;
   stroke-dasharray: 20;
}

.tail--router .svg__dash {
  animation: draw-svg-dash 3s 5s ease-out forwards;
  opacity: 0;
  stroke-dashoffset: 492;
  stroke-dasharray: 42.7122;
}

.svg__dash {
  stroke-dasharray: 42.7122;
}

// svg skills tail

.tail--router .svg__arm {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 1541;
  stroke-dasharray: 1541;
}

.tail--router .svg__arm-end {
  animation: 0.3s 6.7s draw-svg ease-out forwards;
  stroke-dashoffset: 25;
  stroke-dasharray: 25;
}

// svg contact tail

.tail--router .svg__airplane {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 1594;
  stroke-dasharray: 1594;
}

.tail--router .svg__airplane-middle {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 348;
  stroke-dasharray: 348;
}

.tail--router .svg__airplane-middle--short {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 275;
  stroke-dasharray: 275;
}

.tail--router .svg__airplane-connector {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 196;
  stroke-dasharray: 196;
}

// svg about me tail

.tail--router .svg__hacker-contour {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 1630;
  stroke-dasharray: 1630;
}
.tail--router .svg__notebook {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 632;
  stroke-dasharray: 632;
}

.tail--router .svg__notebook-line {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 90;
  stroke-dasharray: 90;
}

.tail--router .svg__hood {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 748;
  stroke-dasharray: 748;
}

.tail--router .svg__face {
  animation: 3s 4s draw-svg ease-out forwards;
  stroke-dashoffset: 152;
  stroke-dasharray: 152;
}
