.tail {
  align-items: center;
  display: flex;
  height: 33.33vh;
  justify-content: center;
  width: 25vw;
}

.tail--coal {
  background: $black;
}

.tail--bone {
  background: $white;
}

.tail--sunshine {
  background: $sunshine;
}

.tail--steel-blue {
  background: $steel-blue;
}

.tail--sticky {
  z-index: 2;
}

.tail-wrapper {
  @include center;
  height: 100%;
  transition: background 0.4s ease-in-out, opacity 0.4s ease-in-out;
  width: 100%;
}

.tail-wrapper:hover {
  opacity: 0.7;
}

.tail--coal .tail-wrapper:hover {
  background: $white;
}

.tail--bone .tail-wrapper:hover {
  background: $black;
}

.tail--sunshine .tail-wrapper:hover {
  background: $steel-blue;
}

.tail--steel-blue .tail-wrapper:hover {
  background: $sunshine;
}

.tail-wrapper__svg {
  fill: none;
  height: 70%;
  padding-top: 20px;
  stroke-width: 7;
  width: 90%;
}

.tail-wrapper__svg svg {
  transition: stroke 0.4s ease-in-out;
}

.tail--sunshine .tail-wrapper:hover > .tail-wrapper__svg svg {
  stroke: $sunshine;
}

.tail--steel-blue .tail-wrapper:hover > .tail-wrapper__svg svg {
  stroke: $steel-blue;
}

.tail--bone .tail-wrapper:hover > .tail-wrapper__svg svg {
  stroke: $white;
}

.tail--coal .tail-wrapper:hover > .tail-wrapper__svg svg {
  stroke: $black;
}

.tail--steel-blue svg {
  stroke: $sunshine;
}

.tail--bone svg {
  stroke: $black;
}

.tail--coal svg {
  stroke: $white;
}

.tail--sunshine svg {
  stroke: $steel-blue;
}

.tail-wrapper__title {
  height: 30%;
  width: 100%;
}

.tail-wrapper__title p {
  transition: color 0.4s ease-in-out;
}

.tail--sunshine .tail-wrapper:hover > .tail-wrapper__title p {
  color: $sunshine;
}

.tail--coal .tail-wrapper:hover > .tail-wrapper__title p {
  color: $black;
}

.tail--bone .tail-wrapper:hover > .tail-wrapper__title p {
  color: $white;
}

.tail--steel-blue .tail-wrapper:hover > .tail-wrapper__title p {
  color: $steel-blue;
}

.tail__title {
  font-size: 64px;
  font-family: 'Redressed', cursive;
  font-weight: bold;
  text-align: center;
}

.tail__title--coal {
  color: $black;
}

.tail__title--bone {
  color: $white;
}

.tail__title--sunshine {
  color: $sunshine;
}

.tail__title--steel-blue {
  color: $steel-blue;
}

.tail--router p {
  animation: 0.3s ease-out 4s 1 showElementByOpacity forwards;
  opacity: 0;
}

.sticky__paragraph {
  animation: 0.3s ease-out 4s 1 hideElementByOpacity forwards;
  font-family: 'Righteous', cursive;
  font-size: 38px;
  font-weight: bold;
  font-weight: bold;
}

.sticky__paragraph--coal {
  color: $black;
}

.sticky__paragraph--bone {
  color: $white;
}

.tail--router {
  height: calc(100vh / 3);
  position: absolute;
  z-index: 5;
}

.tails-container {
  @include half-vw;
  height: 100vh;
}

.tails-container--full {
  @include half-vw;
  height: 100vh;
  width: 100vw;
}

.tails-container--left {
  left: 0;
}

.tails-container--right {
  left: 50vw;
}

.tails-wrapper {
  background: $coal;
  height: 100vh;
  position: absolute;
  width: 50vw;
  z-index: 3;
}

.tails-wrapper--left {
  animation: 1s ease-out 1s 1 slideTailsWrapperToTheLeft forwards;
  left: 0;
}

.tails-wrapper--right {
  animation: 1s ease-out 1s 1 slideTailsWrapperToTheRight forwards;
  left: 50vw;
}

.tails-layer {
  @include half-vw;
  height: calc(100vh - (100vh / 3));
}

.tails-layer--top-left {
  animation: 1s ease-out 2s 1 slideTailsLayerToTheBottom forwards;
  left: 0;
  top: -66.6666vh;
}

.tails-layer--bottom-right {
  animation: 1s ease-out 2s 1 slideTailsLayerToTheTop forwards;
  left: 50vw;
  top: 100vh;
}

.tail--steel-blue.tail--router {
  animation: 1s ease-out 3s 1 slideTailSteelBlueRouter forwards;
  left: -25vw;
  top: 0;
}

.tail--bone.tail--router {
  animation: 1s ease-out 3s 1 slideTailBoneRouter forwards;
  left: 50vw;
  top: -33.3333vh;
}

.tail--coal.tail--router {
  animation: 1s ease-out 3s 1 slideTailCoalRouter forwards;
  left: 25vw;
  top: 100vh;
}

.tail--sunshine.tail--router {
  animation: 1s ease-out 3s 1 slideTailSunshineRouter forwards;
  left: 100vw;
  top: calc(100vh - (100vh / 3));
}
