* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: $font-size-small;
  background: white;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
    &:focus, &:hover, &:visited, &:link, &:active {
    text-decoration: none;
  }
}
