// Colors
$sunshine: #F9BA32;
$steel-blue: #426E86;
$white: white;
$black: black;
$coal: #F8F1E5;
// Font Size
$font-size-largest: 6.4rem;
$font-size-larger: 4.2rem;
$font-size-large: 3.2rem;
$font-size-normal: 2.4rem;
$font-size-small: 1.6rem;
