// Colors
$sunshine: #F9BA32;
$steel-blue: #426E86;
$bone: #F8F1E5;
$coal: #2F3131;
// $sunshine:#31A2AC;
// $steel-blue:#AF1C1C;
// $bone:#F0EFF0;
// $coal:#2F2F28;
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 768px;
// $desktop-breakpoint: 768px;
// $mobile-breakpoint: 41.1;
$mobile-breakpoint: 420px;
